<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="HostAddress" value="development.testing.1212@gmail.com" />
		<add key="ClientInfo" value=".\json\auth\client_secret_receive_1212.json" />
		<add key="CredentialsInfo" value=".\token\gmail\1212\" />
		<add key="MessageJsonData" value=".\json\data\message\1212.json" />
		<add key="GmailAttach" value=".\" />

		<add key="SendGmailAddress" value="public.email.4hc@gmail.com" />
		<add key="SendGmailSecretJson" value=".\json\auth\client_secret_send_4hc.json" />
		<add key="SendGmailAPITokenCredentials" value=".\token\gmail\4hc\" />
		
		<add key="CustomerGmailAddress" value="development.testing.1212@gmail.com" />
		<add key="CustomerGmailSecretJson" value=".\json\auth\client_secret_receive_1212.json" />
		<add key="CustomerGmailAPITokenCredentials" value=".\token\gmail\1212\" />
		<add key="CustomerGmailTokenResponseUser" value="1212" />
		<add key="CustomerGmailFolder" value=".\json\data\gmail\1212\" />
		<add key="CustomerMessageJson" value=".\json\data\message\1212.json" />

		<add key="ACBGmailAddress" value="vulep.x@gmail.com" />
		<add key="ACBGmailSecretJson" value=".\json\auth\client_secret_bank_vulep.json" />
		<add key="ACBGmailAPITokenCredentials" value=".\token\gmail\vulep\" />
		<add key="ACBGmailTokenResponseUser" value="vulep" />
		<add key="ACBGmailFolder" value=".\json\data\gmail\vulep\" />
		<add key="ACBMessageJson" value=".\json\data\message\vulep.json" />

		<add key="JsonDataFolder" value="..\json\data\" />
		<add key="CheckingGmailFolder" value="..\json\data\CheckingGmail\" />
		<add key="GmailFolder" value=".\json\data\gmail\" />
		<add key="UserDataFolder" value="..\json\data\UserDataFolder\" />
		
		<add key="JsonDataGmailFolder" value=".\json\data\gmail" />
		<add key="JsonDataDepositeFolder" value=".\json\data\deposite\" />

		<add key="GmailJsonData" value=".\json\data\gmails.json" />
		<add key="UserJsonData" value=".\json\data\users.json" />
		<add key="NumberJsonData" value=".\json\data\numbers.json" />
		<add key="LocationJsonData" value=".\json\data\locations.json" />
		<add key="VendorJsonData" value=".\json\data\vendors.json" />
		<add key="ServiceJsonData" value=".\json\data\services.json" />
		<add key="ItemJsonData" value=".\json\data\items.json" />
		<add key="PackageJsonData" value=".\json\data\packages.json" />
		<add key="InvoiceJsonData" value=".\json\data\invoices.json" />
		<add key="DurationJsonData" value=".\json\data\client_secret.json" />
		<add key="FeedbackJsonData" value=".\json\data\Feedbacks.json" />

		<add key="BackupGmailDataFolder" value="..\json\data\BackupGmailData\" />
		<add key="BackupMsgDataFolder" value="..\json\data\BackupMsgData\" />
		<add key="BackupUserDataFolder" value="..\json\data\BackupUserData\" />
		<add key="BackupNumberDataFolder" value="..\json\data\BackupNumberData\" />
		<add key="BackupServiceDataFolder" value="..\json\data\BackupServiceData\" />
		<add key="BackupItemDataFolder" value="..\json\data\BackupItemData\" />
		<add key="BackupPackageDataFolder" value="..\json\data\BackupPackageData\" />
		<add key="BackupVendorDataFolder" value="..\json\data\BackupVendorData\" />
		<add key="BackupLocationDataFolder" value="..\json\data\BackupLocationData\" />
		<add key="BackupInvoiceDataFolder" value="..\json\data\BackupInvoiceData\" />
		<add key="BackupDurationDataFolder" value="..\json\data\BackupDurationData\" />


		<add key="DisplayServicesAmount" value="3000" />
		<add key="DisplayServicesLoadmoreAmount" value="30" />
	</appSettings>
</configuration>

