@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form div {
        background-color: rgb(232, 240, 254);
        width: 100%;
        margin: 0 0 15px;
        display: flex;
    }

    .form input {
        margin: 0;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        background: none;
        font: 14px/1 "Roboto", sans-serif;
    }

        .form input:hover {
            /*color: #1f618d;*/
        }

        .form input:focus {
            color: #4a235a;
        }

        .form input::placeholder {
            color: #3f51b5;
        }



    .form span {
        width: 10%;
        align-self: center;
        background: none;
        font-size: 16px;
        opacity: 0.4;
        cursor: pointer;
        opacity: 0.4;
        /*color: #009688;*/
    }

        .form span:hover {
            color: #4a235a;
            opacity: 0.6;
        }

        .form span :focus {
            opacity: 1;
        }

    .form button {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        outline: 0;
        /*background: #4CAF50;*/
        background: #0066dd;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            /*background: #43A047;*/
            background: #1976D2;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            /*color: #4CAF50;*/
            color: #0066dd;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }

body {
    /*background: #76b852;*/ /* fallback for old browsers */
    /*background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/


}

.red_message {
    color: red !important;
}

/*
    
    .form div {
        background-color: rgb(232, 240, 254);
        width: 100%;
        margin: 0 0 15px;
        display: flex;
    }

    .form input {
        margin: 0;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        background:none;
    }
    .form span {
        width: 2rem;
        align-self: center;
        background: none;
    }


*/

.ms_login_div {
    display: block;
    max-width: 360px;
    margin: auto;
    margin-top: 5rem;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.ms_login_div_content {
    display: flex;
    margin: auto;
    margin: 0 0 15px;
    box-sizing: border-box;
    /*display: flex;*/
    margin: 0 0 15px;
    padding: 15px;
    align-items: center;
    flex-direction: column;
}

    .ms_login_div_content > input {
        height: 100%;
        width: 100%;
        padding: 1rem;
        border: none;
        /*border: 1px solid #E91E63;*/
        background-color: rgb(232, 240, 254);
    }

        .ms_login_div_content > input:focus {
            outline: 0;
        }

    .ms_login_div_content > button {
        margin-bottom: 0.25rem;
        padding: 0.75rem;
        border-radius: 0.2rem;
        width: 15rem;
        color: black;
        background-color: antiquewhite;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

        .ms_login_div_content > button:hover {
            color: #F0F4C3;
            background-color: #5D4037;
        }
